#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    height: 100%;
    width: 250px;
    position: fixed;
    float: left;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgba(238, 238, 238, 1);
    overflow-x: hidden;
    padding-top: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: relative;
    padding: 15px;
    z-index:1;
    margin-left: 250px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    padding-top: 40px;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: inline;
    text-decoration: none;
    color: #2d4e64;
    font-size: 16px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #CD1F32;
    background: rgba(250, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #314b64;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #CD1F32;
    background: none;
}

/* Logout */

#a-log-out{
    font-size: 12px;
}

@media screen and (max-height: 450px) {
    #sidebar-wrapper {padding-top: 15px;}
    #sidebar-wrapper a {font-size: 18px;}
}




